@use "./variables" as *;
@use "./responsive" as *;
@use "./mixins" as *;
@use "./functions" as *;

html,
body,
#root {
  height: 100vh;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: toRem(14);
  color: $text;
  scroll-behavior: smooth;
  line-height: 1.4;

  @include for-tablet-landscape-up {
    font-size: toRem(16);
  }

  #root {
    display: flex;
    flex-direction: column;
  }
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: gap(2);

  @include for-tablet-landscape-up {
    flex-direction: row;
  }
}

.sr-only {
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}
